@import "tailwindcss";

@theme { /* Cores do sistema */
    --color-laranja: #ffad08;
    --color-amarelo: #edd75a;
    --color-verde: #73b06f;
    --color-azul: #0c8f8f;
    --color-cinza: #f2f2f2;
    --color-dark: #405059;
}



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cinza);
}
